extends layout

block stylesheets

block javascripts

block content
  ul
    li geo
      li
        a(href='charts/geo/cartogram.html') cartogram
      li
        a(href='charts/geo/choropleth-map.html') choropleth-map
