extends layout

block stylesheets

block javascripts

block content
  ul
    li geo
      ul
        li
          a(href='charts/geo/cartogram.html') cartogram
        li
          a(href='charts/geo/choropleth-map.html') choropleth-map
