doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/vendor/normalize.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/vendor/font-awesome/css/font-awesome.min.css')
    block stylesheets
    link(src='/javascripts/vendor/d3.min.js')
    block javascripts
  body
    block content
